.trackOnWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.wrapper {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateZ(60px);
}

@media (max-width: 768px) {
    .wrapper {
        margin: 20px;
    }
}

.img {
    width: 100px;
}

.card_title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

