.links__list {
    display: flex;
    justify-content: space-around;
    max-width: 350px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.5s;
}

.link:hover {
    background-color: rgb(181, 190, 241);
    transition: all 0.5s;
}

.img {
    width: 40px;
}

@media (max-width: 321px) {
    .links__list {
        width: 280px;
    }
    .link {
        width: 50px;
        height: 50px;
    }
    .img {
        width: 30px;
    }
}