.content {
    height: calc(100vh - 80px);
    padding: 50px 0;
}

.content__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .content__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

.text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;

}

@media (max-width: 768px) {
    .text__wrapper {
        align-items: center;
    }
}

.text__name {
    font-size: 75px;
    font-weight: 900;
    text-align: left;
}

@media (max-width: 768px) {
    .text__name {
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }
}

.text {
    font-size: 30px;
    font-weight: 600;
    margin: 40px 0;
    text-align: start;
}

@media (max-width: 768px) {
    .text {
        font-size: 18px;
        text-align: center;
    }
}

.btn {
    padding: 15px 30px;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: #dad6ff;
    margin-top: 35px;
    transition: 0.6s;
}

.btn:hover {
    background-color: #b9b4ff;
    transition: 0.6s;
}

.img__wrapper {
    width: 300px;
}

.img {
    max-width: 100%;
    box-shadow: -25px 25px 0 0 #000000;
}