.content {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .content {
        height: 50px;
    }
}
